.container {
    max-width: 600px;
    margin: 0px auto;
    padding: 10px 20px;
    background-color: hsl(240, 44%, 93%, 0.85);
    border-radius: 10px;
}

.container__header {
    text-align: center;
    color: hsl(240, 64%, 27%);
    font-weight: bold;
    font-size: 35px;
    padding-top: 20px;
}

.container__top {
    border-bottom: 4px solid darkorange;
}