.container {
    max-width: 600px;
    margin: 0px auto;
    padding: 0 20px;
    background-color: hsl(240, 44%, 93%, 0.85);
    border-radius: 10px;
    border: 1px solid hsl(238, 45%, 50%);
    box-shadow: 2px 2px 20px black;
}

.container__header {
    text-align: center;
    color: hsl(240, 64%, 27%);
    font-weight: bold;
    font-size: 35px;
}

.container__top {
    border-bottom: 4px solid darkorange;
}