html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    background-image: url("../images/backgroundTower.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-color: black; 
}